.iconButton {
  transition: color 250ms ease, background-color 250ms ease;
}

.iconButton:focus,
.iconButton:hover {
  color: blue;
  background-color: rgba(0, 0, 255, 0.4);
}

.avatar {
  background-color: blue;
}
