.deleteIcon {
  transition: color 250ms ease;
}

.iconButton {
  transition: background-color 250ms ease;
}

.iconButton:focus,
.iconButton:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

.iconButton:focus .deleteIcon,
.iconButton:hover .deleteIcon {
  color: blue;
}

.avatar {
  background-color: black;
}
