.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 80px; */
}

.Navigation,
.RegAndLog {
  display: flex;
}

.Navigation .NavLink {
}

.RegAndLog .NavLink {
  margin-right: 10px;
}

.NavLink {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: black;
  transition: color 250ms ease;
  font-size: 14px;
}

.NavLink:hover,
.NavLink:focus {
  color: blue;
}

.activeNavLink {
  color: blue;
}
