.userLogout {
  display: flex;
  align-items: center;
}

.userLogout p {
  margin-right: 10px;
}

.btnLogout {
  padding: 10px;
  transition: color 500ms ease;
}

.btnLogout:hover,
.btnLogout:focus {
  color: blue;
}

.paragraph {
  font-size: 20px;
}
